{% extends "layouts/main.html" %}

{% block content %}

<form method="post">
    <table>
        <thead>
            <tr>
                <th>Aktiv</th>
                <th>Tag</th>
                <th>Uhrzeit</th>
                <th>Weckton</th>
                <th>Licht</th>
                <th>Sonnenaufgang</th>
            </tr>
        </thead>
        <tbody>          
            <tr>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="active_0">
                        <option value="Ja" {% if alarms[0].get("Aktiv") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[0].get("Aktiv") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td>    
                <td>{{ alarms[0].get("Tag") }}</td>
                <td><input onchange="style='background-color:#ff9898'" type="time" name="wtime_0" value="{{ alarms[0].get("Uhrzeit") }}" /></td>  
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sound_0">
                        <option value="Rock" {% if alarms[0].get("Weckton") == "Rock" %}selected{% endif%}>Rock</option>
                        <option value="Classic" {% if alarms[0].get("Weckton") == "Classic" %}selected{% endif%}>Classic</option>
                        <option value="Radio" {% if alarms[0].get("Weckton") == "Radio" %}selected{% endif%}>Radio</option>
                    </select>
                </td>
                <td><input onchange="style='background-color:#ff9898'" type="number" name="ltime_0" value="{{ alarms[0].get('Licht vorher') }}" /></td>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sunrise_0">
                        <option value="Ja" {% if alarms[0].get("Sonnenaufgang") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[0].get("Sonnenaufgang") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
            </tr>
            <tr>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="active_1">
                        <option value="Ja" {% if alarms[1].get("Aktiv") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[1].get("Aktiv") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td>    
                <td>{{ alarms[1].get("Tag") }}</td>
                <td><input onchange="style='background-color:#ff9898'" type="time" name="wtime_1" value="{{ alarms[1].get("Uhrzeit") }}" /></td>  
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sound_1">
                        <option value="Rock" {% if alarms[1].get("Weckton") == "Rock" %}selected{% endif%}>Rock</option>
                        <option value="Classic" {% if alarms[1].get("Weckton") == "Classic" %}selected{% endif%}>Classic</option>
                        <option value="Radio" {% if alarms[1].get("Weckton") == "Radio" %}selected{% endif%}>Radio</option>
                    </select>
                </td>
                <td><input onchange="style='background-color:#ff9898'" type="number" name="ltime_1" value="{{ alarms[1].get('Licht vorher') }}" /></td>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sunrise_1">
                        <option value="Ja" {% if alarms[1].get("Sonnenaufgang") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[1].get("Sonnenaufgang") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
            </tr>
            <tr>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="active_2">
                        <option value="Ja" {% if alarms[2].get("Aktiv") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[2].get("Aktiv") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
                <td>{{ alarms[2].get("Tag") }}</td>
                <td><input onchange="style='background-color:#ff9898'" type="time" name="wtime_2" value="{{ alarms[2].get("Uhrzeit") }}" /></td>  
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sound_2">
                        <option value="Rock" {% if alarms[2].get("Weckton") == "Rock" %}selected{% endif%}>Rock</option>
                        <option value="Classic" {% if alarms[2].get("Weckton") == "Classic" %}selected{% endif%}>Classic</option>
                        <option value="Radio" {% if alarms[2].get("Weckton") == "Radio" %}selected{% endif%}>Radio</option>
                    </select>
                </td>
                <td><input onchange="style='background-color:#ff9898'" type="number" name="ltime_2" value="{{ alarms[2].get('Licht vorher') }}" /></td>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sunrise_2">
                        <option value="Ja" {% if alarms[2].get("Sonnenaufgang") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[2].get("Sonnenaufgang") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
            </tr>
            <tr>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="active_3">
                        <option value="Ja" {% if alarms[3].get("Aktiv") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[3].get("Aktiv") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
                <td>{{ alarms[3].get("Tag") }}</td>
                <td><input onchange="style='background-color:#ff9898'" type="time" name="wtime_3" value="{{ alarms[3].get("Uhrzeit") }}" /></td>  
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sound_3">
                        <option value="Rock" {% if alarms[3].get("Weckton") == "Rock" %}selected{% endif%}>Rock</option>
                        <option value="Classic" {% if alarms[3].get("Weckton") == "Classic" %}selected{% endif%}>Classic</option>
                        <option value="Radio" {% if alarms[3].get("Weckton") == "Radio" %}selected{% endif%}>Radio</option>
                    </select>
                </td>
                <td><input onchange="style='background-color:#ff9898'" type="number" name="ltime_3" value="{{ alarms[3].get('Licht vorher') }}" /></td>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sunrise_3">
                        <option value="Ja" {% if alarms[3].get("Sonnenaufgang") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[3].get("Sonnenaufgang") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
            </tr>
            <tr>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="active_4">
                        <option value="Ja" {% if alarms[4].get("Aktiv") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[4].get("Aktiv") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
                <td>{{ alarms[4].get("Tag") }}</td>
                <td><input onchange="style='background-color:#ff9898'" type="time" name="wtime_4" value="{{ alarms[4].get("Uhrzeit") }}" /></td>  
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sound_4">
                        <option value="Rock" {% if alarms[4].get("Weckton") == "Rock" %}selected{% endif%}>Rock</option>
                        <option value="Classic" {% if alarms[4].get("Weckton") == "Classic" %}selected{% endif%}>Classic</option>
                        <option value="Radio" {% if alarms[4].get("Weckton") == "Radio" %}selected{% endif%}>Radio</option>
                    </select>
                </td>
                <td><input onchange="style='background-color:#ff9898'" type="number" name="ltime_4" value="{{ alarms[4].get('Licht vorher') }}" /></td>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sunrise_4">
                        <option value="Ja" {% if alarms[4].get("Sonnenaufgang") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[4].get("Sonnenaufgang") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
            </tr>
            <tr>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="active_5">
                        <option value="Ja" {% if alarms[5].get("Aktiv") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[5].get("Aktiv") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
                <td>{{ alarms[5].get("Tag") }}</td>
                <td><input onchange="style='background-color:#ff9898'" type="time" name="wtime_5" value="{{ alarms[5].get("Uhrzeit") }}" /></td>  
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sound_5">
                        <option value="Rock" {% if alarms[5].get("Weckton") == "Rock" %}selected{% endif%}>Rock</option>
                        <option value="Classic" {% if alarms[5].get("Weckton") == "Classic" %}selected{% endif%}>Classic</option>
                        <option value="Radio" {% if alarms[5].get("Weckton") == "Radio" %}selected{% endif%}>Radio</option>
                    </select>
                </td>
                <td><input onchange="style='background-color:#ff9898'" type="number" name="ltime_5" value="{{ alarms[5].get('Licht vorher') }}" /></td>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sunrise_5">
                        <option value="Ja" {% if alarms[5].get("Sonnenaufgang") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[5].get("Sonnenaufgang") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
            </tr>
            
            <tr>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="active_6">
                        <option value="Ja" {% if alarms[6].get("Aktiv") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[6].get("Aktiv") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
                <td>{{ alarms[6].get("Tag") }}</td>
                <td><input onchange="style='background-color:#ff9898'" type="time" name="wtime_6" value="{{ alarms[6].get("Uhrzeit") }}" /></td>  
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sound_6">
                        <option value="Rock" {% if alarms[6].get("Weckton") == "Rock" %}selected{% endif%}>Rock</option>
                        <option value="Classic" {% if alarms[6].get("Weckton") == "Classic" %}selected{% endif%}>Classic</option>
                        <option value="Radio" {% if alarms[6].get("Weckton") == "Radio" %}selected{% endif%}>Radio</option>
                    </select>
                </td>
                <td><input onchange="style='background-color:#ff9898'" type="number" name="ltime_6" value="{{ alarms[6].get('Licht vorher') }}" /></td>
                <td>
                    <select onchange="style='background-color:#ff9898'" name="sunrise_6">
                        <option value="Ja" {% if alarms[6].get("Sonnenaufgang") == "Ja" %}selected{% endif%}>Ja</option>
                        <option value="Nein" {% if alarms[6].get("Sonnenaufgang") == "Nein" %}selected{% endif%}>Nein</option>
                    </select>
                </td> 
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Wecker einstellen!" />
</form>
    
{% endblock %}  